version: '3.8'

services:
  app:
    build: .
    container_name: infradesk_app
    ports:
      - "8000:8000"
    volumes:
      - .:/var/www
    depends_on:
      - postgres
      - redis
    environment:
      DB_HOST: postgres
      REDIS_HOST: redis

  postgres:
    image: postgres:15
    container_name: infradesk_pg
    restart: always
    environment:
      POSTGRES_DB: infradesk_api
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: infradesk_redis
    ports:
      - "6379:6379"
